@import "normalize.css";
@import "_variables";
//////
$images: (
  cold: "images/coldguin.jpg",
  hot: "images/hotguin.jpg",
  rain: "images/rainguin.jpg"
);

@each $name, $value in $images {
  .image-#{$name} {
    background-image: url("images/#{$name}.jpg") no-repeat
  }
}

.container {
    border: $border-style;
    width: 50%;
    margin-left: 25%;
    margin-top: 3rem;

  .citybuttons {
    text-align: center;
  }

    button {
      background-color: $clicky;
      border: none;
      color: $pink;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

  .showwx {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: $black;
  }
}

.guins {
  padding-top: 2rem;
  text-align: center;
}

h2 {
  color: $pink;
  text-align: center;
}
